.header {
  /* color: white; */
  text-align: center;
  font-family: "Kanit", "Kanit-Light";
  font-size: 18;
}

.tab-label {
  font-family: "Kanit", "Kanit-SemiBold";
  font-size: 14;
}

.button {
  border-radius: 15;
  background-color: #ff8a65;
  color: black;
}

.ripple-margin-top {
  width: 100%;
  margin-top: 15;
  margin-left: 15;
  margin-right: 15;
  border-radius: 8 8 0 0;
}

.ripple-margin-middle {
  width: 100%;
  margin-left: 15;
  margin-right: 15;
  /* border-radius: 8 8 8 8; */
}

.ripple-margin-bottom {
  width: 100%;
  margin-left: 15;
  margin-right: 15;
  border-radius: 0 0 8 8;
}

.topmenu-content {
  /* background-image: url("app/views/main-page/src/checkin.jpg") no-repeat; */
  width: 100%;
  height: 50;
  border-radius: 8 8 0 0;
  border-width: 0 0 1 0;
  color:black;
  background-color: #ff8a65;
}

.middlemenu-content {
  /* background-image: url("app/views/main-page/src/checkin.jpg") no-repeat; */
  width: 100%;
  height: 50;
  color:black;
  /* border-radius: 8 8 8 8; */
  border-width: 0 0 1 0;
  background-color: #ff8a65;
}

.bottommenu-content {
  width: 100%;
  height: 50;
  border-radius: 0 0 8 8;
  color:black;
  /* border-width: 0 0 1 0; */
  background-color: #ff8a65;
}

TabStrip {
  background-color: white;
  color: darkgray;
}

TabStripItem.tabstripitem {
  color: darkgray;
  background-color: white;
  margin-top: 4;
}

TabStripItem.tabstripitem:active {
  color: #8ca8b4;
  background-color: #f0ffff;
  margin-top: 4;
}
