﻿/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the 
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "~@nativescript/theme/css/core.css";
/* @import "~@nativescript/theme/css/default.css"; */

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/
Button.-primary {
  font-size: 18;
}

.kanit-text-font {
  font-family: "Kanit", "Kanit-Light";
  color: black;
}

.kanit-text-font-semibold {
  font-family: "Kanit", "Kanit-SemiBold";
  color: black;
}

.header {
  /* color: white; */
  text-align: center;
  font-family: "Kanit", "Kanit-Light";
  font-size: 18;
}

.fas {
  font-family: "Font Awesome 5 Free", "fa-solid-900";
  font-weight: 900;
  font-size: 36;
}

.far {
  font-family: "Font Awesome 5 Free", "fa-regular-400";
  font-weight: 400;
  /* font-size: 10; */
}

.btn-text-font {
  font-size: 16px;
  font-family: "Kanit", "Kanit-Medium";
}

.headerContent {
  font-size: 22px;
}

.listview-content {
  /* background-image: url("app/views/main-page/src/checkin.jpg") no-repeat; */
  width: 100%;
  /* height: 100%; */
  margin: 8;
  /* margin-left: 8;
  margin-right: 8; */
  /* margin-bottom: 8; */
  border-radius: 8;
  /* color: white; */
}

.confirm-button {
  font-size: 16;
  font-weight: bold;
  font-family: "Kanit", "Kanit-Light";
  color: white;
  background-color: #4a774e;
  border-radius: 20;
}

.error-confirm-button {
  font-size: 16;
  font-weight: bold;
  font-family: "Kanit", "Kanit-Light";
  color: white;
  background-color: #4a774e;
  border-radius: 20;
}
