.page {
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #415c5a;
  /* background-image: url("~/src/img/background2.jpg"); */
  /* background-image: url('https://images.pexels.com/photos/1624496/pexels-photo-1624496.jpeg'); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.form {
  width: 100%;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
}

.header {
  horizontal-align: center;
  font-size: 18;
  font-weight: 600;
  margin-bottom: 24;
  text-align: center;
  color: #8ebbbc;
  font-family: "Kanit", "Kanit-Light";
}

.input-style {
  padding: 12 20;
  border-radius: 20;
  background-color: white;
  margin-bottom: 8;
  font-family: "Kanit", "Kanit-Light";
  /* placeholder-color: lightgray; */
  /* color: white; */
}

.register-button {
  font-size: 18;
  font-weight: bold;
  font-family: "Kanit", "Kanit-Light";
  color: white;
  background-color: tomato;
  border-radius: 20;
  margin-top: 8;
}

.back-button {
  font-size: 18;
  font-weight: bold;
  font-family: "Kanit", "Kanit-Light";
  /* color: white; */
  background-color: #eee;
  border-radius: 20;
  margin-top: 8;
}